<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin">Admin</a>
        <a class="nav-item nav-link" routerLink="/driver" routerLinkActive="active" *ngIf="isDriver">Driver</a>
        <a class="nav-item nav-link" routerLink="/tracker" routerLinkActive="active" *ngIf="isCustomer">Tracker</a>
        <a class="nav-item nav-link" routerLink="/package" routerLinkActive="active" *ngIf="isAdmin || isCustomer">Package</a>
        <a class="nav-item nav-link" routerLink="/delivery" routerLinkActive="active" *ngIf="isAdmin || isCustomer || isDriver">Delivery</a>
        <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>
